h2{
    text-align: center;
    background-color: #223030;
    padding: 12px;
    margin: 0px;
    color: #efefe9;
}
nav li{
    list-style-type: none;
    background-color: #523d35;
    margin: 1rem;
    padding: 1.3rem;
    border-radius: .8rem;
}
nav a{
    text-decoration: none;
    color: #e8d9cd;
    padding: 25px;
}
nav a:hover{
    color: #e8d9cd;
    background-color: #bba58f;
}
nav ul{
    display: flex;
    justify-content:center;
    background-color: #959d90;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}
footer{
    text-align: center;
    background-color: black;
    padding: 6px;
    margin: 0px;
    color: white;
    height: min-content;
}
h1{
    color: #223030;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.big-box {
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .middle-row{
      display: flex;
    justify-content: stretch;
    width: 100%;
    height: 300px;
    background-color: #959d90;
  }
  .bottom-row {
    border: 0.5px solid black;
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: 300px;
    background-color: #e8d9cd;
  }

  .row-item {
    flex: 1;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    overflow: hidden; 
  }
  object{
    justify-content: center;
  }

  .og-image {
    width: 120px;
    height: auto;
    object-fit: cover;
  }
  
  .og-content {
    padding: 12px;
    background-color: #fff;
  }
  
  .og-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .og-url {
    color: #555;
    font-size: 14px;
  }
  .og-preview{
    display: flex;
    justify-content: center;
    width:auto;
    height: auto;
    font-family: Arial, sans-serif;
  }
.wrapper{
    border: 0px;
    margin: 0 auto;
    max-width: 60rem;
}
article{
    border: #223030 solid;
    background-color: rgb(249, 240, 227);
    padding: 1.3rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: .3rem;
    filter: drop-shadow(.3rem .3rem .2rem rgb(45, 40, 40));
    width: 10rem;
    display: inline-block;
}
.home-bio {
    padding: 10px;
    border: 2px solid #223030;
    margin: 5px;
    text-align: justify;
    background-color: #c0cbb9;
}

img.pfp {
    max-width: 20%;
    float: left;
    margin: 5px;
    object-fit: cover;
}

